{{- $fullname := promptStringOnce . "fullname" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[git]
autoCommit = true

[data]
    email = {{ $email | quote }}
    fullname = {{ $fullname | quote }}
